version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: mongo-container
    ports:
      - '27017:27017'

  nestjs-app:
    build: .
    container_name: nestjs-app-container
    ports:
      - '3000:3000'
    depends_on:
      - mongodb
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/nestjs-social-auth-refresh
    volumes:
      - .:/app
      - /app/node_modules
